.user-info {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 16px;
  background-color: var(--secondary-text-color);
  margin-right: 16px;
  .title {
    font-size: 18px;
    color: var(--primary-color-light);
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }
}
.user-about {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-text-color);
  flex: auto;
  padding: 24px;
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .info-item-title {
      margin-right: 12px;
      font-weight: 700;
      font-size: 18px;
      color: var(--primary-color-light);
    }
    .info-item-desc {
      color: var(--primary-color-light);
      font-size: 18px;
      font-weight: 500;
    }
  }
}
