.repos-item {
  padding: 16px 8px;
  width: 100%;
  background-color: var(--secondary-text-color);
  border-bottom: 1px solid var(--primary-color);
  cursor: pointer;
  .title {
    color: var(--primary-color-light);
    font-size: 18px;
  }
}
