.not-found {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: auto;
  height: 100%;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  a {
    color: blue;
    font-size: 36px;
    margin: 12px 0;
  }
}
