.back-btn {
  display: flex;
  width: 100%;
  div {
    margin: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    span {
      color: green;
      font-size: 24px;
      margin: 0 8px;
    }
  }
}
