header {
  display: flex;
  flex-wrap: wrap;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  a {
    flex-grow: 1;
    text-align: center;
    padding: 1em;
    position: relative;
    text-decoration: none;
    font-size: 36px;
    color: grey;
    &.active {
      color: #333;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      transform: scaleX(0);
      background: #333;
      transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
    }

    &:hover::after,
    &.active::after {
      transform: scaleX(1);
    }
  }
}
