@import './reset.scss';
@import './palette.scss';
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#app {
  padding: 16px;
  height: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
}

.user-content {
  padding: 16px 0;
  display: flex;
  flex-wrap: wrap;
}

.user-info-container {
  display: flex;
  width: 100%;
  margin: 24px 0;
}
