.user-item {
  margin-bottom: 24px;
  background-color: var(--secondary-text-color);
  padding: 16px;
  max-width: 200px;
  margin-right: 20px;
  border-radius: 8px;
  box-shadow: 10px 13px 8px -6px rgba(117, 117, 117, 0.75);
  -webkit-box-shadow: 10px 13px 8px -6px rgba(117, 117, 117, 0.75);
  -moz-box-shadow: 10px 13px 8px -6px rgba(117, 117, 117, 0.75);
  img {
    width: 100%;
    height: auto;
  }

  cursor: pointer;
  .title {
    color: var(--primary-color-light);
    font-size: 18px;
    text-align: center;
  }
}
