.search-form {
  display: flex;
  #search {
    border: 2px solid grey;
    height: 40px;
    padding-left: 12px;
    margin-right: 16px;
    border-radius: 4px;

    &:focus {
      border: 2px solid blue;
      outline: unset;
    }
  }
  .search-btn {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0 14px;
    text-transform: uppercase;
    background-color: #03a9f4;
    border: unset;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #0288d1;
    }
    &:focus {
      outline: unset;
    }
  }
}
